.calculator-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator{
    border: black solid;
    height: 400px;
    width: 350px;
    padding: 5px;
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.display{
    border: black solid;
    flex: 0.35;
}

.all-buttons{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    flex: 1;
}

#equal{
    grid-column: 3/5;
}

