.calculator-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.display{
    border: black solid;
    height: 30px;
}

.all-buttons{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}


