.calculator-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
}

.calculator{
    background: linear-gradient(to right, #434343 0%, black 100%);
    border: black solid;
    height: 400px;
    width: 350px;
    padding: 5px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
}

#display{
    border: black solid;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 4.2em;
    color: white;
    flex: 0.35;
    padding-right: 8px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: flex-end;
    border-radius: 4px;
    border: none;
}

.all-buttons{
    display: grid;
    gap: 3px;
    grid-template-columns: repeat(4,1fr);
    flex: 1;
}

button{
    border-radius: 4px;
    border: none;
    font-size: large;
    font-weight: bold;
    background: #ececec;  
}

button:hover{
    background: radial-gradient(circle at 18.7% 37.8%, rgb(250, 250, 250) 0%, rgb(225, 234, 238) 90%);
}

.operators:hover{
    background: radial-gradient(circle at 12.3% 19.3%, rgb(85, 88, 218) 0%, rgb(95, 209, 249) 100.2%);
    color: white;
}

#percent:hover{
    background: radial-gradient(circle at 12.3% 19.3%, rgb(85, 88, 218) 0%, rgb(95, 209, 249) 100.2%);
    color: white;
}

#delete:hover, #ac:hover {
    background: radial-gradient(circle at 10% 20%, rgb(226, 37, 37) 0%, rgb(211, 49, 49) 82.8%);
    color: white;
}

#equal:hover{
    background: linear-gradient(109.6deg, rgb(0, 204, 130) 11.2%, rgb(58, 181, 46) 91.7%);
    color: white;
}

#equal{
    grid-column: 3/5;
}

